/* */
body {background-color:#000;  font-family: "DejaVu Sans", sans-serif;}

#overlay {display:block; width:1280px; height:720px; position:relative;}

#warframe-anomaly {position:absolute; top:0; left:490px; width:300px;}
#warframe-anomaly video{width:100%;}
#warframe-anomaly p{position:absolute; top:142px; text-align:center; width:300px; color:darkred; background:black; font-weight:bold;}

#chat-component {position:absolute; bottom:0; right:0; width:300px;}
#chat-component .chat-item{margin:2px 2px 30px; border-radius:5px; min-height:50px; position:relative;}
#chat-component .chat-item .name{position:absolute; top:-25px; right:0; line-height:25px; background-color:inherit; margin:0; padding: 2px 8px; border-radius:10px 10px 0 0;}
#chat-component .chat-item .avatar{position:absolute;top:-25px; left:-25px; border-radius:100%; background-color:inherit;}
#chat-component .chat-item .avatar img{width:50px; border-radius:100%;}
#chat-component .chat-item .message{text-indent:25px; margin-left:5px; padding-top:3px;}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}